<%= form_for @interest, url: import_csv_admin_interests_path, method: :post, multipart: true do |f| %>
 <fieldset class="inputs">
  <ol>
   <li class="string input optional">
    <%= f.label :csv_file, 'CSV File' %>
    <br>
    <br>
    <%= f.file_field :csv_file, accept: '.csv' %>
   </li>
  </ol>
 </fieldset>
 <div class="form-actions">
  <%= f.submit 'Import CSV' %>
 </div>
<% end %>